<a href="https://colab.research.google.com/github/imabelaus/Fintech-in-LatAm/blob/master/H2_model_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy
from sklearn.preprocessing import Imputer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [0]:
import pandas as pd
import numpy as np
from fancyimpute import KNN

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)
Using TensorFlow backend.

In [0]:
data = pd.read_csv('/content/Dissetation_countless - Dissert_x_y.csv')

In [0]:
data.head(5)

  Organization Name  ... Category
0          Creditas  ...        1
1            Nubank  ...        1
2            Movile  ...        1
3              Clip  ...        0
4            Konfio  ...        1

[5 rows x 39 columns]

In [0]:
dummy_countries = pd.get_dummies(data['Headquarters Regions'])

In [0]:
dummy_countries.head(3)

   Argentina  Brazil  Chile  Colombia  Mexico
0          0       1      0         0       0
1          0       1      0         0       0
2          0       1      0         0       0

In [0]:
data = pd.concat([data,dummy_countries], axis = 1)

In [0]:
data.head(3)

  Organization Name  ... Mexico
0          Creditas  ...      0
1            Nubank  ...      0
2            Movile  ...      0

[3 rows x 44 columns]

In [0]:
dummy_fu = pd.get_dummies(data['Funding Status'])
data_n = pd.concat([data,dummy_fu], axis = 1)

In [0]:
data_n.shape

(199, 49)

In [0]:
dummy_lft = pd.get_dummies(data['Last Funding Type'])
data_n1 = pd.concat([data_n,dummy_lft], axis = 1)
data_n1.shape

(199, 66)

In [0]:
dummy_ipo = pd.get_dummies(data['IPO Status'])
data_n2 = pd.concat([data_n1,dummy_ipo], axis = 1)
data_n2.shape

(199, 67)

In [0]:
data_n2.head()

  Organization Name  ... Private
0          Creditas  ...       1
1            Nubank  ...       1
2            Movile  ...       1
3              Clip  ...       1
4            Konfio  ...       1

[5 rows x 67 columns]

In [0]:
data_1 = data_n2.drop(['Organization Name', 'Organization Name URL', 'Seed', 'Headquarters Location', 'Description','CB Rank (Company)','Headquarters Regions','Operating Status','Founded Date', 'Founded Date Precision','Company Type', 'Full Description', 'Investor Type','Investment Stage', 'Categories','Category Groups', 'Number of Employees','Last Funding Amount Currency', 'Founders', 'Last Funding Date', 'Funding Status', 'Last Funding Type', 'CB Rank (Organization)','Total Equity Funding Amount Currency','IPO Status', 'Acquisition Status'], axis=1)

In [0]:
data_1.describe()

       Last Funding Amount  ...  Private
count         1.780000e+02  ...    199.0
mean          1.051431e+07  ...      1.0
std           3.033856e+07  ...      0.0
min           1.000000e+03  ...      1.0
25%           5.000000e+05  ...      1.0
50%           2.000000e+06  ...      1.0
75%           6.225000e+06  ...      1.0
max           2.310000e+08  ...      1.0

[8 rows x 39 columns]

In [0]:
data_1.shape

(199, 40)

In [0]:
data_1.head(3)

   Last Funding Amount  ...  Private
0          231000000.0  ...        1
1          180000000.0  ...        1
2          124000000.0  ...        1

[3 rows x 40 columns]

In [0]:
print(data_1.isnull().sum())

Last Funding Amount                               21
Last Funding Amount Currency (in USD)             21
Contains B2B                                       0
Contains B2C                                       0
Year                                               3
Hub Tags                                         197
Number of Investments                            194
Number of Funding Rounds                           0
Total Equity Funding Amount                        9
Total Equity Funding Amount Currency (in USD)      9
Number of Lead Investors                          77
Number of Investors                               29
Number of Acquisitions                           190
Category                                           0
Argentina                                          0
Brazil                                             0
Chile                                              0
Colombia                                           0
Mexico                                             0
Early Stage Venture                                0
Late Stage Venture                                 0
M&A                                                0
Private Equity                                     0
Angel                                              0
Convertible Note                                   0
Debt Financing                                     0
Equity Crowdfunding                                0
Grant                                              0
Non-equity Assistance                              0
Pre-Seed                                           0
Private Equity                                     0
Secondary Market                                   0
Series A                                           0
Series B                                           0
Series C                                           0
Series D                                           0
Series F                                           0
Series I                                           0
Venture - Series Unknown                           0
Private                                            0
dtype: int64

In [0]:
data_1 = data_1.drop(['Number of Investments','Hub Tags', 'Number of Lead Investors', 'Number of Acquisitions' ], axis = 1)

In [0]:
print(data_1.isnull().sum())

Last Funding Amount                              21
Last Funding Amount Currency (in USD)            21
Contains B2B                                      0
Contains B2C                                      0
Year                                              3
Number of Funding Rounds                          0
Total Equity Funding Amount                       9
Total Equity Funding Amount Currency (in USD)     9
Number of Investors                              29
Category                                          0
Argentina                                         0
Brazil                                            0
Chile                                             0
Colombia                                          0
Mexico                                            0
Early Stage Venture                               0
Late Stage Venture                                0
M&A                                               0
Private Equity                                    0
Angel                                             0
Convertible Note                                  0
Debt Financing                                    0
Equity Crowdfunding                               0
Grant                                             0
Non-equity Assistance                             0
Pre-Seed                                          0
Private Equity                                    0
Secondary Market                                  0
Series A                                          0
Series B                                          0
Series C                                          0
Series D                                          0
Series F                                          0
Series I                                          0
Venture - Series Unknown                          0
Private                                           0
dtype: int64

In [0]:
data_1_lfa_mode = data_1['Last Funding Amount'].value_counts().index[0]
data_1_lfa_mode

2500000.0

In [0]:
data_1['Last Funding Amount'].fillna(2500000,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [0]:
df = data_1.apply(lambda x: x.fillna(x.median()),axis=0)

In [0]:
df.head()

   Last Funding Amount  ...  Private
0          231000000.0  ...        1
1          180000000.0  ...        1
2          124000000.0  ...        1
3          100000000.0  ...        1
4           50000000.0  ...        1

[5 rows x 36 columns]

In [0]:
print(df.isnull().sum())

Last Funding Amount                              0
Last Funding Amount Currency (in USD)            0
Contains B2B                                     0
Contains B2C                                     0
Year                                             0
Number of Funding Rounds                         0
Total Equity Funding Amount                      0
Total Equity Funding Amount Currency (in USD)    0
Number of Investors                              0
Category                                         0
Argentina                                        0
Brazil                                           0
Chile                                            0
Colombia                                         0
Mexico                                           0
Early Stage Venture                              0
Late Stage Venture                               0
M&A                                              0
Private Equity                                   0
Angel                                            0
Convertible Note                                 0
Debt Financing                                   0
Equity Crowdfunding                              0
Grant                                            0
Non-equity Assistance                            0
Pre-Seed                                         0
Private Equity                                   0
Secondary Market                                 0
Series A                                         0
Series B                                         0
Series C                                         0
Series D                                         0
Series F                                         0
Series I                                         0
Venture - Series Unknown                         0
Private                                          0
dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = 0.20, random_state=9)

In [0]:
train_target = df['Category']
train_feat = df.drop(['Category'], axis=1)

In [0]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

In [0]:
lr = LogisticRegression()
svc = LinearSVC(C=1.0)
rfc = RandomForestClassifier(n_estimators = 180)

In [0]:
train_target.shape

(199,)

In [0]:
train_feat.head(15)

    Last Funding Amount  ...  Private
0           231000000.0  ...        1
1           180000000.0  ...        1
2           124000000.0  ...        1
3           100000000.0  ...        1
4            50000000.0  ...        1
5              100000.0  ...        1
6            60000000.0  ...        1
7            22000000.0  ...        1
8            39000000.0  ...        1
9              150000.0  ...        1
10           34000000.0  ...        1
11           12500000.0  ...        1
12            2000000.0  ...        1
13           30000000.0  ...        1
14            3000000.0  ...        1

[15 rows x 35 columns]

In [0]:
train_feat.shape

(199, 35)

In [0]:
classifier_lr = lr.fit(train_feat, train_target)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
lr.score(train_feat, train_target)

0.5678391959798995

In [0]:
all_accuracies = cross_val_score(estimator=classifier_lr, X=train_feat, y=train_target, cv=10)
print(all_accuracies)

[0.52380952 0.61904762 0.65       0.55       0.55       0.35
 0.6        0.57894737 0.57894737 0.68421053]

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
RandomF = rfc.fit(train_feat, train_target)
rfc.score(train_feat, train_target)

1.0

In [0]:
all_accuracies = cross_val_score(estimator=RandomF, X=train_feat, y=train_target, cv=10)
print(all_accuracies)

[0.71428571 0.76190476 0.7        0.85       0.8        0.85
 0.75       0.78947368 0.73684211 0.57894737]

In [0]:
SVM = svc.fit(train_feat_1, train_target_1)
all_accuracies = cross_val_score(estimator=SVM, X=train_feat_1, y=train_target_1, cv=10)
print(all_accuracies)

NameError: ignored

In [0]:
print(all_accuracies)

[0.71428571 0.76190476 0.7        0.85       0.8        0.85
 0.75       0.78947368 0.73684211 0.57894737]

In [0]:
train_target_1 = df['Category']

In [0]:
train_feat_0 = df['Contains B2B']
train_feat_00 = df['Contains B2C']
train_feat_n1 = df['Number of Investors']
train_feat_n2 = df['Argentina']
train_feat_n3 = df['Brazil']
train_feat_n4 = df['Chile']
train_feat_n5 = df['Colombia']
train_feat_n6 = df['Mexico']


train_feat_1_1 = pd.concat([train_feat_0,train_feat_00,train_feat_n1,train_feat_n2,train_feat_n3,train_feat_n4,train_feat_n5, train_feat_n6], axis = 1)

In [0]:
RandomF_1 = rfc.fit(train_feat_1_1, train_target_1)
rfc.score(train_feat_1_1, train_target_1)
all_accuracies = cross_val_score(estimator=RandomF_1, X=train_feat_1_1, y=train_target_1, cv=5)
print(all_accuracies)

[0.75609756 0.73170732 0.79487179 0.79487179 0.69230769]

In [0]:
train_feat_3 = df['Contains B2B']
train_feat_30 = df['Contains B2C']
train_feat_33 = pd.concat([train_feat_3,train_feat_30], axis = 1)

In [0]:
RandomF_3 = rfc.fit(train_feat_33, train_target_1)
rfc.score(train_feat_33, train_target_1)
all_accuracies = cross_val_score(estimator=RandomF_3, X=train_feat_33, y=train_target_1, cv=10)
print(all_accuracies)

[0.85714286 0.80952381 0.8        0.85       0.85       0.9
 0.9        0.78947368 0.73684211 0.63157895]